@charset "UTF-8";

$u: 16px;
$font-primary: "Roboto";
$font-icon: "FontAwesome";
$color-primary: #339999;
$ui-sidebar-width: $u*5;
$ui-panel-width: $u*16; //17.5
$ui-panel-transition: all 200ms ease-in-out;
